<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DimDim - Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img th:src="@{/img/dimdim-icon.png}" width="30" height="30">
            DimDim
        </a>
        <a class="navbar-brand" href="/">Home</a>
        <a class="navbar-brand" href="/usuarios">Usuários</a>
    </nav>
</header>
<div class="d-flex flex-column">

    <div class="text-center">
        <h3 class="mt-3 mb-3">Sobre a aplicação</h3>
        <p class="text-center">Essa aplicação faz parte do desenvolvimento do primeiro checkpoint da matéria de DevOps
            da FIAP.
        <br> É uma aplicação que simula movimentações bancárias e também possuí criação e listagem de usuários.</p>
    </div>

    <h3 class="text-center mt-3 mb-3">Integrantes</h3>
    <ul class="list-group">
        <li class="list-group-item">João Victor Pessoa Queiroz - 85568</li>
        <li class="list-group-item">Jacó Magalhães  I Sen Chen - 84717</li>
        <li class="list-group-item">Victor Yafusso Sunahara - 84095</li>
        <li class="list-group-item">Enrique Oliveira Caribé - 85584</li>

    </ul>
</div>

</body>
</html>