<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DimDim - Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <img th:src="@{/img/dimdim-icon.png}" width="30" height="30">
            DimDim
        </a>
        <a class="navbar-brand" href="/usuarios">
            Usuários
        </a>
    </nav>
</header>

<div class="container mt-3">
    <div class="d-flex flex-row">
        <div >
            <h3 th:text="${user.nome}" class="text-lg-start"></h3>
            <div class="d-flex flex-row flex-nowrap">
                <p th:text="${user.email}" class="mr-4"></p>
                <p th:text="${user.dataCadastro}"></p>
            </div>

        </div>

        <div class="ml-4">
            <h5 th:text="${user.saldo}" th:class="${user.saldo > 0} ? text-success : text-danger"></h5>
        </div>
    </div>


    <hr/>
    <form class="form-inline mb-3" th:object="${movimentacaoForm}" method="post"
          th:action="@{/usuarios/{id}/movimentacoes(id=${user.id})}">
        <label class="sr-only" for="descricao">Descricao</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="descricao" name="descricao" placeholder="Descricao"
               th:field="*{descricao}">

        <label class="sr-only" for="valor">Valor</label>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">R$</div>
            </div>
            <input type="text" class="form-control" id="valor" name="valor" placeholder="Valor" th:field="*{valor}">
        </div>

            <button type="submit" class="btn btn-outline-warning mb-2">Adicionar Movimentação</button>
        </form>
    <hr />

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col" colspan="3" class="text-center">Movimentações</th>
        </tr>
        <tr>
            <th scope="col">Data</th>
            <th scope="col">Descrição</th>
            <th scope="col" class="text-center ">Valor</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movimentacao : ${movimentacoes.content}">
            <td th:text="${#temporals.format(user.dataCadastro, 'dd/MM/yyyy HH:mm', new java.util.Locale('pt', 'BR'))}"/>
            <td th:text="${movimentacao.descricao}"/>
            <td th:text="${movimentacao.valor}"
                th:classappend="${movimentacao.valor > 0} ? text-success : text-danger"/>
        </tr>
        </tbody>
    </table>
    <nav th:if="${movimentacoes.totalPages > 0}">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber: ${pageNumbers}">
                <a class="page-link"
                   th:href="@{/usuarios/{id}(id=${user.id},size=${movimentacoes.size}, page=${pageNumber - 1})}"
                   th:text=${pageNumber}
                   th:classappend="${pageNumber==movimentacoes.number + 1} ? active"></a>
            </li>
        </ul>
    </nav>
</div>


</body>
</html>